.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.flex-between-tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }
} 